*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-image: url(./assets/_fhdtexture193.jpg);
    object-fit: contain;
    font-family: Poppins, sans-serif;
}

.score{
    color: white;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 70px;
}

.score p{
    font-size: 90px;
    padding: 10px;
    text-align: center;
}

.intro{
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1{
    font-size: 50px;
}

.intro button{
    width: 250px;
    height: 100px;
    background: none;
    border: none;
    color: black;
    font-size: 40px;
    font-weight: 600;
    background: yellow;
    border-radius: 10px;
    cursor: pointer;
}

.match button{
    width: 200px;
    height: 75px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
    background: yellow;
    border-radius: 10px;
    cursor: pointer;
}
.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner{
    color: white;
    text-align: center;
    font-size: 70px;
}

.hands, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand{
    transform: rotateY(180deg);
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0% {
      transform: rotateY(180deg) translateY(0px);
    }
    15% {
      transform: rotateY(180deg) translateY(-50px);
    }
    25% {
      transform: rotateY(180deg) translateY(0px);
    }
    35% {
      transform: rotateY(180deg) translateY(-50px);
    }
    50% {
      transform: rotateY(180deg) translateY(0px);
    }
    65% {
      transform: rotateY(180deg) translateY(-50px);
    }
    75% {
      transform: rotateY(180deg) translateY(0px);
    }
    85% {
      transform: rotateY(180deg) translateY(-50px);
    }
    100% {
      transform: rotateY(180deg) translateY(0px);
    }
  }
  
  @keyframes shakeComputer {
    0% {
      transform: translateY(0px);
    }
    15% {
      transform: translateY(-50px);
    }
    25% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(-50px);
    }
    75% {
      transform: translateY(0px);
    }
    85% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  